[Unit]
Description=Grow root filesystem to fill disk
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target
RequiresMountsFor=/

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/grow-rootfs
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
