[Unit]
Description=Grow root filesystem to fill disk
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/grow-rootfs

[Install]
WantedBy=multi-user.target
